<% if signed_in? %>
  <table class="front" summary="signed-in users">
    <tr>
      <td class="main">
        <h1 class="message">Gross Revenue</h1>
        <h3 class="details"><%= current_user.gross_revenue %></h3>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Sample App</h1>
  <p>
    This is the home page for the sample application.
  </p>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>